*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
}
body{
    overflow-x: hidden;
}
.background{
    background-image: url('netflix\ background.jpg');
    background-color:black;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
}


.nav{
        display: flex;
        justify-content: space-between;
        /* margin-top: 5rem; */
}
h2 span{
 color: red;
 margin-left: 5rem;
 font-weight: 700;
 font-size: 2em;
 background-color: rgb(8, 3, 3);
}
#Signin{
    margin-right: 3rem;
}
#select{
    margin-right: 1em;
    width: 6vw;
    height: 5vh;
    padding-left: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

div>button{
    width: 5vw;
    height: 5vh;
    font-size: 18px;
    background-color:red;
    color: white;
    /* border: 2px solid white; */
    border-radius: 5px;
}
.card{
    /* width: 50%; */
    color: white;
    /* border: 3px solid red; */
    justify-content: center;
    margin-left: 25em;
    margin-top: 12rem;
}
.movies{
    margin-left: 3rem;
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
}
.movie{
    margin-left: 5rem;
}
.watch{
    font-family: 'Rubik', sans-serif;
    margin-left: 9rem;
}

form input{
    padding-left: 1rem;
        width: 30vw;
        height: 10vh;
}
form>button{
    background-color: red;
    height: 10vh;
    width: 15vw;
    font-size:15px;
    padding: 5px;
    /* margin-right: 8rem; */
}
#card1{
    /* margin-top: 50em;     */
    background-color: black;
    color: white;
    width: 100vw;
    height: 50vh;
    border-top: 8px solid rgb(41, 39, 39);
    border-bottom: 4px solid rgb(41, 39, 39);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
.our-story-card-text{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 8rem;
}
/* #card2{
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: space-around;
    border-bottom: 8px solid rgb(41, 39, 39);
    background-color: black;
    color: white;
} */
